/* Styling for the Index Page */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
}

h1, h2, h3, h4, .header-title, li {
    font-family: "IBM Plex Sans", sans-serif;
}

strong {
    font-weight: bold;
}


/* === Header === */

header {
    font-size: 14px;
    font-weight: lighter;
}

nav {
    font-weight: normal;
}


/* === Hero === */

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bolder;
    font-size: 96px;
}

#bio {
    font-size: 18px;
}

.tagline-link {
    font-weight: lighter;
    font-size: 14px;
}


/* === Skills === */

#skills-section {
    font-size: 16px;
}

h4 {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.08em;
}


/* === Projects === */

#projects-section {
    font-size: 16px;
}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 22px;
    font-weight: bold;
}


/* === Footer === */

footer {
    font-family: "IBM Plex Mono", monospace;
    font-size: 12px;
    font-weight: lighter;
}